<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Predictror</title>
    <link rel="stylesheet" href={% static 'home.css'  %}>
</head>
<body>
    <h1 id = 'heading'>Welcome to spam predictor</h1>
    <ul>
        <li>
            <a href="/SMSin">for SMS spam prediction please click here</a>
        </li>
        <li>
            <a href="/emailin">for Emai spam prediction please click here</a>
        </li>
    </ul>
</body>
</html>